// Ellipsis
$use-mozilla-ellipsis-binding: true;

// Cores
$red: #990000;
$gray: #DDDDDD;
$grayLight: #EEEEEE;
$blue: #000099;
$black: #444444;

// Font
$base: 16;
$fontSize: 100%;
$fontColor: $gray;
$lnkColor: $gray;

// Grid
$space: 10px;
$cols: 24;

// Background
$bgColor: #4A525A;
